CREATE PROCEDURE [dbo].[spAggregatoSpese_Mese](@Anno int, @Mese int)AS

DECLARE @tblDati TABLE (RifTipoAttivita int, TipoAttivita varchar(255), ColoreHTML varchar(255), Descrizione varchar(255), TotAtt money, Media money)
DECLARE @tblDatiMedia TABLE (RifTipoAttivita int, Media money)

INSERT INTO @tblDati(RifTipoAttivita, TipoAttivita, ColoreHTML, Descrizione, TotAtt)
SELECT
   ATT.RifTipoAttivita,
   TP.TipoAttivita,
   TP.ColoreHTML, 
   Per.Descrizione,
   SUM(ATT.Costo) AS TotAtt
FROM 
   tblAttivita ATT
   INNER JOIN tblPeriodi Per ON Per.ID = ATT.RifPeriodo 
   INNER JOIN tblTipoAttivita TP ON TP.ID = ATT.RifTipoAttivita
WHERE 
   Per.Anno = @Anno AND Per.Mese = @Mese
GROUP BY 
   ATT.RifPeriodo, ATT.RifTipoAttivita, TP.TipoAttivita, TP.ColoreHTML, Per.Descrizione 
ORDER BY 
    SUM(ATT.Costo)

INSERT INTO @tblDatiMedia(RifTipoAttivita, Media)
SELECT 
	Dati.RifTipoAttivita,
	ROUND(AVG(ISNULL(Dati.Valore, 0)), 0) AS Media
FROM 
	(SELECT 
		ATT.RifTipoAttivita,
		SUM(ATT.Costo) AS Valore
	FROM 
		tblAttivita ATT
	GROUP BY
		ATT.RifPeriodo, ATT.RifTipoAttivita) Dati
GROUP BY 
	Dati.RifTipoAttivita

UPDATE
	@tblDati
SET
	Media = Med.Media
FROM 
	@tblDati Dat
	INNER JOIN @tblDatiMedia Med ON Med.RifTipoAttivita = Dat.RifTipoAttivita

SELECT 
	TipoAttivita, 
	ColoreHTML, 
	Descrizione, 
	TotAtt, 
	Media 
FROM 
	@tblDati 
ORDER BY 
	TotAtt