@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">         
            <a href="trend"><i class="bi bi-clipboard-data-fill" alt="Trend" title="Trend"></i></a>
            <a href="categoria"><i class="bi bi-card-list" alt="Categoria" title="Categoria"></i></a>
            <a href="cerca"><i class="bi bi-search" alt="Cerca" title="Cerca"></i></a>
            &nbsp;
            @DateTime.Now
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
