<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="home"><img src="/img/origami.png" width="32" hight="32">MyAdmin Core Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link bi-house-gear" href="home">
                &nbsp;&nbsp;&nbsp;Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link bi-graph-up" href="trend">
                &nbsp;&nbsp;&nbsp;Trend
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link bi-card-list" href="categoria">
                &nbsp;&nbsp;&nbsp;Categoria
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link bi-calendar3-range" href="compare">
                &nbsp;&nbsp;&nbsp;Compare
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link bi-crop" href="previsioni">
                &nbsp;&nbsp;&nbsp;Previsioni
            </NavLink>
        </div>
     
        <div class="nav-item px-3">
            <NavLink class="nav-link bi-search" href="cerca">
                &nbsp;&nbsp;&nbsp;Cerca
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link bi-clipboard2-check" href="license">
                &nbsp;&nbsp;&nbsp;Licenza
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
