@page "/bottom"

<PageTitle>Bottom</PageTitle>

<div class="container text-center">
    <div class="row justify-content-evenly">
        <div class="col-md-8">
            <div class="box-body">
                <p><i class="bi bi-c-circle align-content-center"></i><b>&nbsp;&nbsp;Fabio Gianlorenzo</b> - .NET Core Blazor Web Assembly - Full Structured WEB APP</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box-body">
                <p><img src="/img/origami.png" width="25" hight="25"><b>MyAdmin Core Blazor</b> - Ver. 2.0.1.</p>
            </div>
        </div>
    </div>
</div>

@code {

}
