@page "/errore"
<!--/errore?errdesc=descrizione_errore-->

<PageTitle>Errore</PageTitle>

<h1><i class="bi bi-bug"></i> Errore</h1>
<hr />
<div class="col-md-12">
    <div class="box-body">
        <div class="alert alert-danger" role="alert">
            <p>Attenzione si è verificato un errore imprevisto!</p>
        </div>
    </div>
</div>
Mostra dettagli Errore:
<input type="checkbox" @bind="showerror">
@if (showerror)
{
    <div class="col-md-12">
        <div class="box-body">
            <div class="alert alert-danger" role="alert">
                <p>Descirzione Errore: @Errdesc</p>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Errdesc { get; set; }

    private bool showerror = false;
}
